 <!--   <footer class="fixed-bottom">-->
  <footer class="sticky-bottom mt-5">
      <div class="container mt-0">
        <!-- &copy; Copyright {{ site.time | date: '%Y' }}  -->
        {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        <a href="{{ site.url }}{{ site.baseurl }}/impressum">Impressum</a>.
        <a href="{{ site.url }}{{ site.baseurl }}/bildquellen">Bildquellen</a>.
        &nbsp; Zuletzt aktualisiert: {{ site.time | localize: '%d. %B %Y' }}.
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Kontakt</a>.
      </div>
    </footer>
