---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title"> <i class="fas fa-tag fa-sm"></i> {{ page.title }} </h1>
    <p class="post-description"> an archive of posts in this category </p>
  </header>

  <article>
    <div class="table-responsive">
      <table class="table table-sm table-borderless">
        {% for post in page.posts %}
        <tr>
          <th scope="row">{{ post.date | localize: "%-d. %b %Y" }}</th>
          <td>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title }}</a>
          </td>
        </tr>
      {% endfor %}
      </table>
    </div>
  </article>

</div>
