---
layout: default
---
<!-- page.html -->
        <div class="post">

          <header class="post-header">
             <h1 class="post-title">{{ page.title }}</h1>
            <p class="post-description">{{ page.description }}</p>
          </header>

          <article>
            {{ content }}
          </article>

        </div>
